.__datepicker-pick-day-container {
    width: 270px;
    margin: auto;

    .__datepicker-weak {
        display: grid;
        grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
        grid-auto-flow: dense;
        margin: 0 10px;
        align-items: center;
        background-color: var(--primary);
        border-radius: 5px;
        user-select: none;
        direction: ltr;

        .__datepicker-weak-item {
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 12px;
            margin: 5px;

            &.__datepicker-holiday {
                color: var(--holiday);
            }
        }
    }

    .__datepicker-pick-day {
        display: grid;
        margin: 5px 10px;
        grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
        grid-auto-flow: dense;
        direction: ltr;

        .__datepicker-days {
            width: 23px;
            height: 23px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            border-radius: 5px;
            margin: 5px;
            cursor: pointer;
            border: 1px solid transparent;
            user-select: none;
            position: relative;

            .__datepicker-day-effect {
                width: 3px;
                height: 3px;
                border-radius: 10px;
                position: absolute;
                bottom: 1px;
                left: 50%;
                transform: translate3d(-50%, 0, 0);
            }

            &:hover:not(.__datepicker-day-disabled):not(.__datepicker-today):not(.__datepicker-selected) {
                background-color: var(--secondary);
            }

            &.__datepicker-day-disabled {
                opacity: 0.4;
            }

            &.__datepicker-today {
                color: var(--primary);
                border: 1px solid var(--primary);
            }

            &.__datepicker-selected {
                background-color: var(--primary);
                color: #fff;
            }
        }
    }

    &.only-view {
        width: 250px;

        .__datepicker-weak {
            background-color: unset;

            .__datepicker-weak-item {
                color: unset;
            }
        }

        .__datepicker-pick-day {
            .__datepicker-days {
                color: #777777;

                &:hover {
                    background: #e8e8e8 !important;
                }

                &.__datepicker-today {
                    color: var(--primary);
                    border: 1px solid var(--primary);
                }
            }
        }
    }

    &.datepicker-rtl {
        .__datepicker-weak {
            direction: rtl;
        }

        .__datepicker-pick-day {
            direction: rtl;
        }
    }
}