.__calender-table-td {
    border: 1px solid rgba($color: #000000, $alpha: 0.125);
    z-index: 1;

    .__calendar-table-td-body {
        padding: 0px;
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;

        .__calendar-table-td-body-date {
            position: absolute;
            top: 0px;
            right: 5px;
            font-size: 11px;
            user-select: none;
        }

        &:hover>.__calendar-table-td-body-date {
            color: #000;
        }

        .__calendar-table-td-body-events {
            flex-grow: 1;
            flex: 1;
            min-height: 15vh;
            margin-top: 20px;
            position: relative;

            .__calendar-table-td-body-events-item {
                display: flex;
                align-items: center;
                margin: 1px;
                font-size: 10px;
                padding: 0 3px;
                border-radius: 3px;
                position: absolute;
                background-color: #fff;
                z-index: 10;
                user-select: none;
                border: 1px solid rgba($color: #000000, $alpha: 0.125);
                height: 40px;

                .__calendar-table-td-body-events-item-circle {
                    min-width: 3px;
                    min-height: 3px;
                    border-radius: 10px;
                    background: rgba($color: #291afe, $alpha: 1);
                    margin-right: 5px;
                    margin-left: 5px;
                }

                &.hover {
                    opacity: 0.95;
                    border: 1px solid rgba($color: #000000, $alpha: 1.0)
                }

                &.hide {
                    opacity: 0 !important;
                    z-index: 15;
                }
            }
        }
    }


    &.__calender-past {
        background: url("./past-day.png") repeat;
        background-size: 50px;

        .__calendar-table-td-body-date {
            color: #aaa;
        }
    }

    &.__calender-disabled-cell {
        background-color: var(--disable-day-color);
    }

    &.__calender-today {
        outline: 1px solid var(--primary);
        background-color: #e6f7ff;
        z-index: 2;
    }

    &.__calender-table-td-drag-hover,
    &:hover {
        background-color: #ffffcc;
    }

    &.__calender-table-td-clickable {
        cursor: pointer;
    }

}

.__calender-month-header {
    text-align: center;
    margin-bottom: 10px;

    .__calender-header-title {
        font-size: 22px;
    }

    .__calender-header-subtitle {
        color: rgb(123, 123, 123);
    }
}