.__datepicker-pick-month {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .__datepicker-pick-month-item {
        padding: 10px 0px;
        width: 70px;
        margin: 5px;
        text-align: center;
        font-size: 12px;
        cursor: pointer;
        user-select: none;
        border-radius: 10px;
        border: 1px solid unset;

        &:hover {
            background-color: var(--secondary);
        }

        &.__datepicker-today {
            border: 1px solid var(--primary);
        }
    }
}