.__datepicker-modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10001;
    background-color: rgba($color: #000000, $alpha: 0.425);
}

.__datepicker-dropdown {
    width: 260px;
    position: absolute;
    box-shadow: 0 0 10px -2px rgba($color: #000000, $alpha: 0.125);
    padding: 5px;
    background: var(--background);
    border: 1px solid rgba($color: #000000, $alpha: 0.125);
    border-radius: var(--corner);
    font-size: 12px;
    z-index: 1000;
    direction: ltr;

    &.right-top {
        bottom: 100%;
        right: 0;
    }

    &.left-top {
        bottom: 100%;
        left: 0;
    }

    &.right-bottom {
        right: 0;
    }

    &.left-bottom {
        left: 0;
    }

    &.fix-top {
        position: fixed;
        top: 0;
        right: unset;
        bottom: unset;
        left: unset;
    }

    &.__datepicker-modal {
        position: fixed;
        top: 50%;
        right: 50%;
        transform: translate3d(50%, -150px, 0);
        z-index: 10002;
    }

    * {
        color: var(--color);
        direction: ltr;
    }

    .__datepicker-dropdown-footer {
        border-top: var(--light-border);
        padding: 5px 5px 0 0px;
        font-size: 12px;
        cursor: pointer;
        display: flex;

        div {
            margin-right: 10px;
            border-radius: var(--corner);
            padding: 3px 10px;

            &:hover {
                background-color: var(--primary);
            }
        }
    }
}